body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #1b1d1f;
}
.main-page {
  background: linear-gradient(271deg, #a5deff 0%, #cdedff 45.43%, #fcfefe 100%);
}
.main-page-text-container {
  border-radius: 40px;
  background: #fff;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  position: relative;
}
.main-page-hello-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0%;
  margin-bottom: 60px;
}
.main-page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 64px;

  /* line-height: 72px; */
  line-height: 112%;
  color: #1b1d1f;
  margin-top: 0%;
  margin-bottom: 24px;
}
.main-page-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0px;
  margin-bottom: 32px;
}
.main-page-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  background: #ff6b08;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 24px;
  width: 172px;
  height: 44px;
}
.goit-logo {
  position: absolute;

  display: block;
  width: 100px;
  height: 32px;
  margin: -600px 0 0 0;
}
.facts-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 32px;
  margin-top: 0px;
}
.facts {
  padding-top: 48px;
  padding-bottom: 100px;
  text-align: center;
}
.facts-trezub {
  margin-bottom: 24px;
}
.facts-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  width: 772px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 24px;
}
.facts-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  margin-bottom: 32px;
  margin-top: 0;
}
.facts-item-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1b1d1f;
  margin-bottom: 0;
  margin-top: 0;
}
.facts-item {
  width: calc((100% / 3) - (24px * 2) / 3);
}
.form-container {
  width: 100%;
  background: linear-gradient(271deg, #a5deff 0%, #cdedff 45.43%, #fcfefe 100%);
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  background: #fff;
  border-radius: 40px;
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  text-align: center;
}
.form-trezub {
  margin-bottom: 32px;
}
.form-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 75%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 12px;
}
.form-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24;
}
.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-field-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 8px;
}
.form-field-name {
  margin-bottom: 24px;
}
.form-input {
  border: 1px solid #005bbb;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  width: 100%;
}
.form-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  padding-left: 24px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 24px;
  background: #ff6b0a;
  border-radius: 8px;
  border: none;
}
.form-field-email {
  margin-bottom: 48px;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
